language: python

python:
  - 3.5
  - 3.6

install:
  - pip install -r requirements.txt

env:
  global:
  - PYPI_USER_NAME: "chaostoolkit"
  - secure: "VHYFFSFi2wKOggc+eppjGOQBErDbuIWnM8GQkLR+lJrLFSAhPa37eSrv896DvkynunpGHQZhhEY/IT2iV7pTyBeQi3pwmRjeqoTfhIHgClV0inZiPkuI3vmvJjpP/FVXVb2VIBugGIDOoDsDg1cTkfAmL3Aw4/rmp/0BBsQcDNmcR+lhK47f8bdSE9BAQfbhRQyWISGxP53ql6an18/Fa6qzoh+7N1s5kHFsRcQYZlApdijxX4Et6FUB8RItDQBCdjSuXufsr2e19JTKqVv/3AVD3rb7JQgHFtl7YxnAJOn2XGtuEAI/5PudTvW0wtggK19Dkv7jwCV3rCBd7ODoa27bvByyDprzExwyGPDoMWII07krKbs7OkCB/0+y41VlgWJLw+AzMiNrhs4X9STFisgNYMtRlM3EfLANiU58FIAjLuachPJr9w/mT+MWIYN1GCI9BrkRMFJlkQStDHpQxY3GqCEKalh1oOfOBV7AWPqH6Qakkkzpl2/ERSXCidmXUTkENCgY++GkmObthMtJxsdyWIWZsGUUGAhS3iFvYSTuBGWmwiz0zQizNYLg4L06KHErpNE/e1yT0Y9nxCydrXzJyw8qO2trNDLGUtwobYNiFAl3YjrazJ1yv/NUZOK5V6AYh5VfHP9q570VlgSifhES1bfXeEgmD6/5dsz7s7Q="

script: 
  - bash ci.bash

notifications:
  webhooks:
    urls:
    - 'https://webhook.atomist.com/atomist/travis/teams/T76U4GPGF'
    on_cancel: always
    on_error: always
    on_start: always
    on_failure: always
    on_success: always
